{% if latest_entries_list %}
    <ul>
        {% for ques in latest_entries_list %}
            <li>
                {% comment %} <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> {% endcomment %}
                <a href="{% url 'polls:detail' ques.id %}">
                    {{ ques.question_text }}     
                </a>    
            </li>    
        {% endfor %}
    </ul>
{% else %}
    <p> No question found </p>
{% endif %}

{% comment %} when i click question_text redirect to "detail" and sent question_id to detail {% endcomment %}
{% comment %} {{ }} is used for displaying variable data {% endcomment %}
{% comment %} latest_entries_list comes from context dictionary which bridges views.py and inde.html {% endcomment %}

{% comment %} q.question_text in this for question_text django first do a dictionary lookup  {% endcomment %}
{% comment %} then it does a attribute lookup then list based lookup for question_text {% endcomment %}