<h1> Tasks: </h1>


<form method="POST" action = "/">
    {% csrf_token %}

    {{ TaskForm.title }}

    <input class="btn" type="submit" value="Create Task">

</form>
{% comment %} action is url where after posting data user is being sent to, here homepage {% endcomment %}
{% comment %} submit, reset, link are some types of buttons {% endcomment %}


{% for task in tasks %}


    <ul>
        <p> {{ task }} </p>
    </ul>  

    <a href = "{% url 'update-task' task.id %}"> update </a>


{% endfor %}